<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SolacApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BF5FC7251F564E007BC518C7A7D023DAF9078CC4</string>
				<key>dateExpires</key>
				<string>10/04/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YS57Q8JEDM.com.rendarts.solacapp.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YS57Q8JEDM</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>YS57Q8JEDM.com.rendarts.solacapp.test</string>
				</array>
			</dict>
			<key>name</key>
			<string>SolacApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4c6882e0-b6b6-46d7-8aa8-8d5152c34164</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YS57Q8JEDM</string>
				<key>name</key>
				<string>Rendarts SA DE CV</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
